services:
  - type: web
    name: mediguardian-backend
    env: docker
    dockerImagePath: docker.io/nks21/mediguardian-backend:latest
    plan: free
    healthCheckPath: /health
    envVars:
      - key: PORT
        value: 4000
      - key: NODE_ENV
        value: production
